<a href="/"><span class="glyphicon glyphicon-menu-left"></span>Continue Shopping</a>
<h1>CHECKOUT</h1>

<div class="row" style="border:solid black 1px" ng-repeat="tea in Checkout.cart">
  <div class="col-sm-4"><img ng-src="{{tea.imageUrl}}" height="100px">{{tea.name}}</img></div>
  <div class="col-sm-8">
    <div class="col-sm-4">
      <h5>Ingredients: {{tea.ingredients}}</h5>
      <h5>In Stock: {{tea.inStock}}</h5>
    </div>
    <div class="col-sm-8">
      <div class="col-sm-6">
        <label>Qty:</label>
        <input class="form-control" type="number" name="quantity" ng-model="quantity" value="{{tea.quantity}}"></input>
        <a class="btn btn-warning" ng-click="Checkout.updateQty(tea,quantity)">Update</a>
        <br>

      </div>
        <p ng-model="subtotal">Item total: {{tea.price * tea.quantity/100 | currency }}</p>
        <a ng-click="Checkout.delete(tea)">Delete</a>


    </div>

    <h5>Cart: {{Checkout.cartQuantity}}</h5>
  </div>
</div>
