<div class="row" >
  <form class="form-group">
    <label for="category">Filter by category: </label>
    <select class="" ng-model="searchCategory" name="category">
      <option>{{Tea.category}}</option>
      <option ng-repeat="category in Tea.categories">{{category}}</option>
    </select>
    <label for="price">Sort by price: </label>
    <label for="search" >Search by name: </label>
      <input type="text" name="search" placeholder="Search" ng-model="searchText"></input>
  </form>
</div>
<div class="row">
  <div class="col-sm-4">Tea</div>
  <div class="col-sm-8">Information</div>
</div>
<div class="row" style="border:solid black 1px" ng-repeat="tea in Tea.teas | filter:searchText | filter:searchCategory">
  <div class="col-sm-4"><img ng-src="{{tea.imageUrl}}"></img></div>
  <div class="col-sm-8" style="border:solid black 1px">
    <div class="col-sm-6">
      <h4>{{tea.name}}</h4>
      <br>
      <p>Price: {{tea.price/100 | currency}}</p>
      <p>Caffeine: {{tea.caffeineScale}}</p>
      <p>Ingredients: {{tea.ingredients}}</p>
      <p>Rating: {{tea.rating}}</p>
      <p>In Stock: {{tea.inStock}}</p>
      <p>Categories:</p>
      <ul ng-repeat="category in tea.categories">
        <li>{{category}}</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-6">
        <input class="form-control" ng-init="quantity = 1" type="number" name="quantity" ng-model="quantity">Quantity</input>
      </div>
      <div class="col-sm-6">
        <button type="button" name="addToBag" class="btn btn-primary" ng-click="Tea.addCart(tea, quantity)">Add to Bag</button>
      </div>
    </div>
  </div>
</div>
