<div class="row">
  <form class="form-group">
    <label for="category">Search by category: </label>
    <select class="" name="category">
      <option value="dark">Dark</option>
      <option value="light">Light</option>
    </select>
    <label for="search">Search by name: </label>
    <input type="text" name="search" placeholder="Search"></input>
    <button type="submit" name="button" class="btn btn-danger" pull-right>Checkout | Bag:  </button>
  </form>
</div>
<div class="row">
  <div class="col-sm-4">Tea</div>
  <div class="col-sm-8">
    <div class="col-sm-7">
      Information
    </div>
    <div class="col-sm-5">
      <label for="price">Sort by price: </label>
      <select class="" name="price">
        <option>$10 or less</option>
        <option>$10 or more</option>
      </select>
    </div>
  </div>
</div>
